<footer>

  <div class="footer-social-container container">
    <div class="footer-contact col-lg-2 col-sm-12 text-left">
      <a ng-href="#/contact"> Contato</a>
    </div>

    <div class="row footer-social col-lg-10 col-sm-12 text-right">
      <img class="follow-us" src="assets/icons/icon-follow-us.png">
      <img class="separator-footer" src="assets/icons/icon-separator-follow-us.png">

 <!--     <a ng-href="" target="_blank">
        <img class="footer-icons" src="assets/icons/icon-twitter.png">
      </a>-->

      <a ng-href="https://www.facebook.com/si.ufpb" target="_blank">
        <img class="footer-icons" src="assets/icons/icon-facebook.png">
      </a>
<!--
      <a ng-href="" target="_blank">
        <img class="footer-icons" src="assets/icons/icon-youtube.png">
      </a>-->
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container text-center">
      Project SI&copy;
    </div>
  </div>

</footer>
