<div class="container-account-info">

  <div class="col-lg-6">

    <form name="formPersonData1">
      <div class="title-section" style="margin-top: 35px; margin-bottom: 20px;">
        Dados para acesso
      </div>

      <div class="form-group has-feedback">
        <label class="control-label" for="userMatriculation">
          Matrícula
        </label>
        <input id="userMatriculation" type="text" class="form-control"
              ng-model="accountC.user.matriculation" ng-required="true" placeholder="Matrícula">
      </div>

      <div class="form-group has-feedback">
        <label class="control-label" for="userEmail">
          E-mail
        </label>
        <input id="userEmail" type="text" class="form-control"
                placeholder="Email" disabled ng-model="accountC.user.email">
      </div>

      <button class="btn btn-primary btn-lg" type="button" ng-click="accountC.showModalChangePassword()"
              ng-style="{'width': '215px'}">
        <span class="ng-scope">Alterar senha</span>
      </button>
    </form>


    <form name="formPersonData2">

      <!--PESSOAL-->
      <div class="title-section" style="margin-top: 35px; margin-bottom: 20px;">
        Dados Pessoais
      </div>

      <div class="form-group has-feedback">
        <label class="control-label" for="userFullName">
          Nome
        </label>
        <input id="userFullName" type="text" class="form-control"
               ng-required="true" placeholder="Nome completo" ng-model="accountC.user.name">
      </div>

      <div class="form-group bs-datetime">
        <label class="control-label" for="userBirthday">
          Data de Nascimento
        </label>
        <input id="userBirthday" type="text" class="form-control"  placeholder="Data Nascimento"
               ng-model="accountC.user.dateBirth" bs-datepicker data-autoclose="1" ng-required="true">
      </div>

      <div class="form-group has-feedback">
        <label class="control-label" for="userAddress">
          Endereço
        </label>
        <input id="userAddress" class="form-control" placeholder="Endereço"
                ng-model="accountC.user.address">
      </div>

      <div class="controls controls-row row-fluid has-feedback">

        <div class="form-group col-lg-9" style="padding-left: 0">
          <label class="control-label" for="userCity">
            Cidade
          </label>
          <input id="userCity" class="form-control" placeholder="Cidade"
                  ng-model="accountC.user.city">
        </div>

        <div class="form-group col-lg-3" style="padding-right: 0">
          <label class="control-label" for="userUF">
            UF
          </label>
          <select id="userUF" ng-model="accountC.user.uf" class="form-control">
            <option ng-repeat="uf in accountC.ufs" value="{{uf}}" required>
                    {{uf}}
            </option>
          </select>
        </div>
      </div>

      <!--SOCIAL-->
      <div class="title-section" style="margin-top: 35px; margin-bottom: 20px;">
        Social
      </div>

      <div class="form-group has-feedback">
        <label class="control-label" for="userSite">
          Site
        </label>
        <input id="userSite" type="text" class="form-control" http-prefix
               placeholder="Site ex: www.meusite.com.br" ng-model="accountC.user.socialSite">
      </div>

      <div class="form-group has-feedback">
        <label class="control-label" for="userFace">
          Facebook
        </label>
        <input id="userFace" type="text" class="form-control" http-prefix
               placeholder="Facebook ex: www.facebook.com/nome.sobrenome" ng-model="accountC.user.socialFacebook">
      </div>

      <div class="form-group has-feedback">
        <label class="control-label" for="userBio">
          Biografia
        </label>
        <textarea id="userBio" type="text" class="form-control" rows="3" style="resize: none"
               placeholder="Conte um pouco sobre você" ng-model="accountC.user.socialBio">
        </textarea>
      </div>


      <button class="btn btn-primary btn-lg" style="margin-bottom: 20px" name="btnSavePersonalData" type="submit"
        ng-click="accountC.updateUser()" ng-disabled="formPersonData1.$invalid || formPersonData2.$invalid">
        <span class="ng-scope">Salvar dados pessoais</span>
      </button>

    </form>

  </div>

  <div class="col-lg-1"></div>

  <div class="col-lg-5">
    <div class="title-section" style="margin-top: 35px; margin-bottom: 20px;">
      Foto de perfil
    </div>

    <div class="container-picture">
      <img class="picture"  ng-src="assets/images/no-photo.jpg">

      <button class="btn btn-primary btn-lg btn" style="width: 138px; margin-top: 10px"
              ng-click="accountC.showModalChoosePicture()">
        <span class="ng-scope">Alterar</span>
      </button>
      <button class="btn btn-secondary btn-lg" style="width: 138px; margin-top: 10px"
              ng-click="accountC.deleteUserPicture()" ng-disabled="true">
        <span class="ng-scope">Excluir</span>
      </button>
    </div>
  </div>

  <div ng-include="'app/components/account/_modal_choose_user_picture.html'"></div>
  <div ng-include="'app/components/account/_modal_change_password.html'"></div>

</div>
