<div id="modalChangePassword" class="modal fade" role="dialog" data-backdrop="static">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-dialog modal-md">

        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" ng-click="accountC.clearModalChangePassword()">&times;
            </button>
            <h3 class="modal-title">Alterar senha</h3>
          </div>
          <div class="modal-body">
            <form name="formChangePassword">
              <div class="form-group has-feedback">
                <label class="control-label" for="userCurrentPassword">
                  Senha Atual
                </label>
                <input id="userCurrentPassword" type="password" class="form-control" minlength="8"
                       ng-model="accountC.userPassword.c_password" ng-required="true" placeholder="Senha Atual">
              </div>

              <div class="form-group has-feedback">
                <label class="control-label" for="userNewPassword">
                  Nova Senha
                </label>
                <input id="userNewPassword" type="password" class="form-control" name="newPassword" minlength="8"
                       ng-model="accountC.userPassword.password" ng-required="true" placeholder="Nova Senha">
                <div role="alert" ng-show="formChangePassword.newPassword.$touched">
                  <span style="color: red; font-size: 10px" ng-show="formChangePassword.newPassword.$error.minlength">A senha deve ter no minimo 8 digitos</span>
                </div>
              </div>

              <div class="form-group has-feedback">
                <label class="control-label" for="userNickname">
                  Repita a Nova Senha
                </label>
                <input id="userNickname" type="password" class="form-control" name="confirmPassword"  minlength="8"
                       ng-model="accountC.userPassword.confirm_password" ng-required="true" placeholder="Confirme a nova senha">
                    <div role="alert" ng-show="formChangePassword.confirmPassword.$touched">
                      <span style="color: red; font-size: 10px"
                            ng-show="accountC.userPassword.password !== accountC.userPassword.confirm_password">
                        Senhas não conferem
                      </span>
                    </div>
              </div>
            </form>

          </div>

          <div class="modal-footer">
            <div class="form-group" style="margin-bottom: 0">

              <button id="btCancel" class="btn btn-secondary btn-lg" style="width: 100px"
                      ng-click="accountC.clearModalChangePassword()">
                <span class="ng-scope">Cancelar</span>
              </button>

              <button id="btChangePassword" type="submit" class="btn btn-primary btn-lg" style="width: 100px;"
                      ng-click="accountC.changePassword();"
                      ng-disabled="formChangePassword.$invalid || accountC.userPassword.password !== accountC.userPassword.confirm_password">
                <span class="ng-scope">Salvar</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

